/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: red;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */


#line{
    background: darkblue;
    height: 70px;
    width: 900px;
    top: 35%;
    position: absolute;
    border-top: solid white 20px;
    border-bottom: solid white 20px;
    
}
#line2{
    position: absolute;
    top: 56.7%;
    left: 10%;
    background-color: darkblue;
    height: 70px;
    width: 256px;
    transform: rotateZ(90deg);
    border-top: solid white 20px;
    border-bottom: solid white 20px;
    
}
#line3{
    position: absolute;
    top: 12%;
    left:9.5%;
    background-color: darkblue;
    height: 70px;
    width: 274px;
    transform: rotateZ(90deg);
    border-top: solid white 20px;
    border-bottom: solid white 20px;
}